<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("components/header") %>
        <title>Profile | Login System</title>
    </head>
    <body style="background-color: rgb(243, 243, 243)">
        <%- include ("components/nav") %>

        <div class="container rounded bg-white my-5 p-5">
            <div class="d-flex flex-row flex-wrap justify-content-center">
                <!-- Profile Avatar -->
                <div
                    class="d-flex flex-column align-items-center text-center mt-5 p-5"
                >
                    <img class="rounded-circle" src="<%= user.avatarUrl ||
                    "images/default_avatar.png" %>" alt="Avatar" width=150px />
                    <span class="font-weight-bold p-3"><%= user.name %></span>
                    <span class="font-weight-bold pb-3"
                        ><%= user.date.toDateString() %></span
                    >
                </div>
                <!-- Posts -->
                <div
                    class="posts d-flex flex-row flex-wrap flex-grow-1 justify-content-center"
                >
                    <% for (let i = 0; i < posts.length; i ++) {%>
                    <div class="card text-center m-2" style="width: 280px">
                        <div class="card-header"><%= posts[i].title %></div>
                        <div class="card-body"><%= posts[i].content %></div>
                        <div class="card-footer">
                            <%= posts[i].date.toDateString() %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>
