<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("components/header") %>
        <title>Login</title>
    </head>
    <body style="background-color: rgb(243, 243, 243)">
        <%- include ("components/nav") %>

        <div class="container rounded bg-white my-5 p-5">
            <div class="d-flex flex-row flex-wrap justify-content-center">
                <!-- Profile Avatar -->
                <div
                    class="d-flex flex-column align-items-center text-center mt-5 p-5"
                >
                    <img
                        class="rounded-circle"
                        src="<%= user.avatarUrl %>"
                        alt="Avatar"
                    />
                    <span class="font-weight-bold p-3"><%= user.name %></span>
                    <span class="font-weight-bold pb-3"
                        ><%= user.date.toDateString() %></span
                    >
                </div>
                <!-- Posts -->
                <div
                    class="posts d-flex flex-row flex-wrap flex-grow-1 justify-content-center"
                >
                    <% for (let i = 0; i < 3; i ++) {%>
                    <div class="card text-center m-2" style="width: 280px">
                        <div class="card-header">
                            Featured <%= //posts[i].title %>
                        </div>
                        <div class="card-body">
                            Content.<%= //posts[i].content %>
                        </div>

                        <div class="card-footer">
                            Footer<%= //posts[i].date %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- <div class="p-5">
            <h1>Welcome to <%= user.name %>'s page</h1>
            <img src="<%= user.avatarUrl %>" alt="" />

            <div class="d-flex flex-wrap">
                <% for (let i = 0; i < 5; i ++) {%>
                <div class="card text-center m-2" style="width: 24rem">
                    <div class="card-header">
                        Featured <%= //posts[i].title %>
                    </div>
                    <div class="card-body">
                        Content.<%= //posts[i].content %>
                    </div>

                    <div class="card-footer">Footer<%= //posts[i].date %></div>
                </div>
                <% } %>
            </div>
            <% // } %>
        </div> -->
    </body>
</html>
